# Exclude everything
/*

# Specific includes
## Docs
!Docs/

## Source
!src/

## Build system
!NuGet.Config
!Lethal-Company-Enhancer.sln

## Markdowns
!*.md
!LICENSE

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## GitHub specific
!.github/

## Dependencies folder
!lib
lib/*
!lib/.gitkeep

## Projects
### Enhancer
!Enhancer/
Enhancer/[Bb]in/
Enhancer/[Oo]bj/

# Explicit exceptions/ignores