# Exclude everything
/*

# Specific includes
## Docs
!Docs/

## Source
!src/

## Build system
!NuGet.Config
!LethalCompanyEnhancer.sln

## Markdowns
!*.md
!LICENSE

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## GitHub specific
!.github/

## Dependencies folder
!lib
lib/*
!lib/.gitkeep

# Explicit exceptions/ignores